<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <label>Full Name :</label>
        <input type="text" required name="name" placeholder="Shrayansh Jain"/>
        <label>Enter your Email :</label>
        <input type="text" required name="email" placeholder="abc@gmail.com"/>
        <label>Enter the Password :</label>
        <input type="text" required name="password" placeholder="password"/>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html> 